
    body {
      font-family: Arial, sans-serif;
      background-image:url(img2.0.jpg) ;
      background-size: cover;
      margin: 0;
      padding: 0;
      
    }

    .container {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      border-bottom: 30px;
      border-radius: px;
      
    }

    .box {
      
      padding: 30px;
      border-radius: px;
      box-shadow: 0 0 10px rgba(6, 0, 0, 0);
      width: 350px;
      height: 430px;
      
      
      
    }

    h1 {
      text-align: center;
      color: rgb(11, 6, 1);
      font-family: 'Times New Roman', Times, serif;
      
      
    }

    .nav-buttons {
      color: rgb(255, 255, 255);
      text-align: center;
      border-radius: px;
      border: none;
      
    }

    .nav-buttons a {
      
      margin: 0 5px;
      text-decoration: none;
      padding: 6px 12px;
      background-color: #2f303268;
      border: 1px solid #000000;
      color: #000000;
      border-radius: 0px; 
      
    }

    input[type="text"], select {
      color: rgb(2, 0, 0);
      
      width: 100%;
      padding: 5px;
      border-radius: px;
      
      border: none;
      background:rgb(245, 240, 240);
      border: 2px solid #080707b1;
     
    }

    .form-buttons {
      text-align: center;
      margin-top: 15px;
      color: rgb(36, 130, 212);
    }

    input[type="submit"], input[type="reset"] {
      
      padding: 6px 12px;
      margin: 0 5px;
      border-radius: 15px;
      border: none;
    }